* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Overpass, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #dce0d9;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #dce0d9;
}
*/


#workspaces button {
    padding: 3 10px;
    background-color: transparent;
    color: #dce0d9;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    /*background-color: #3b3434;*/
    border-bottom: 2px solid #b16b6b;
}

#workspaces button.urgent {
    background-color: #b16b6b;
}

#mode {
    background-color: #64727D;
    border-bottom: 2px solid #dce0d9;
}

#clock
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #dce0d9;
}

#battery {
    /*background-color: #dce0d9;*/
    color: #dce0d9;
    border-bottom: 2px solid #b16b6b;
    padding-right: 5px;
}

#battery.charging {
    color: #dce0d9;
    border-bottom: 2px solid #87c38f;
}

@keyframes blink {
    to {
        background-color: #dce0d9;
        color: #3b3434;
    }
}

#battery.critical:not(.charging) {
    border-bottom: 2px solid #b16b6b;
    color: #dce0d9;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #3b3434;
}

#cpu {
    /*background-color: #b16b6b;*/
    color: #dce0d9;
}

#memory {
    /*background-color: #b16b6b;*/
    color: #dce0d9;
}

#backlight {
    background-color: #b16b6b;
    color: #dce0d9;
}

#network {
    /*background-color: #b16b6b;*/
    color: #dce0d9;
    border-bottom: 2px solid #b16b6b;
}

#network.disconnected {
    /*background-color: #b16b6b;*/
    color: #dce0d9;
    border-bottom: 2px solid #b16b6b;
}

#pulseaudio {
    /*background-color: #b16b6b;*/
    color: #dce0d9;
    border-bottom: 2px solid #b16b6b;
}

#pulseaudio.muted {
    color: #dce0d9;
    border-bottom: 2px solid #8da7be;
}
#tray {
    color: #dce0d9;
}